.footer-area a {
    color: #99173c;
}

.footer-area a:hover {
    color: #555152 !important;
}

.btn-primary:hover {
    background-color: #2e2633 !important;
}

.side-bar .widget h2 {
    color: #2e2633;
    border-left: 2px solid #99173c;
    border-right: 2px solid #99173c;
}

.pagination > .active > a:hover,
.pagination li:hover > a,
.pagination > .active > a {
    background-color: #99173c;
    border-color: #99173c;
}

.side-bar .widget h1,
.side-bar .widget h2,
.side-bar .widget h3,
.side-bar .widget h4,
.side-bar .widget h5,
.side-bar .widget a:hover {
    color: #99173c;
}

.side-bar .widget ul li a:hover {
    color: #99173c;
}

form.search-form input.search-btn {
    background-color: #99173c;
}

form.search-form input.search-btn:hover {
    background-color: #2e2633;
}

.breadcrumb li.active {
    color: #99173c;
}

.bootstrap-tagsinput .label {
    font-size: 14px;
}

.bootstrap-tagsinput .label-info {
    background-color: #99173c;
}

.question-tabs .panel-tabs > li.active > a,
.question-tabs .panel-tabs > li.active > a:hover,
.question-tabs .panel-tabs > li.active > a:focus {
    border-bottom: 2px solid #99173c;
}

.question-tabs .panel-tabs > li > a:hover {
    background-color: transparent;
    border-color: transparent;
    color: #99173c;
}

.listing-grid .tagcloud a {
    padding: 3px 10px 5px 10px;
    border-radius: 10px;
    background-color: #99173c;
    color: #fff;
}

ul.question-statistic li.active span {
    background-color: #99173c;
}

ul.question-statistic li span {
    border: 1px solid #99173c;
}

.pagination > li > a,
.pagination > li > span {
    padding: 10px 14px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #99173c;
    border-color: #99173c;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}
